@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.charsheet hr{
    margin: 4px;
    border: .5px solid grey;
}

.hidden {
  display: none;
}
.hider:not(:checked) + div {
  display: none;
}

.hidden2 {
  display: none;
}
.hider2:not(:checked) + div {
  display: none;
}

.charsheet button[type="roll"].txt-btn:before{
    content:'';
}

.charsheet h1{
  font-size: 15px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.charsheet h2{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.charsheet h3{
    font-family: 'Bangers', cursive;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.charsheet h4{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    margin: 4px;
    padding: 0px;
}

.txt-btn{
    font-family: 'Kalam', cursive;
    font-size: 15px;
    Background: ghostwhite;
    margin: 0px 0px 0px 0px;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    border-color: black;
}

.txt-btn:hover {
    Background: blue;
    color: white;
    font-weight: bold;
}

.number-menu{
    font-family: 'Kalam', cursive;
    font-size: 14px;
    Background: ghostwhite;
    margin: 0px 0px 0px 0px;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    border-color: black;
    text-align: center;
    padding: 0px;
}

.number-id{
    font-family: 'Kalam', cursive;
    font-size: 15px;
    Background: ghostwhite;
    margin: 0px 0px 0px 0px;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    border-color: black;
    text-align: center;
}

.txt-id{
    font-family: 'Kalam', cursive;
    font-size: 14px;
    padding: 0px;
    margin:1px;
    Background: ghostwhite;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    border-color: black;
    text-align: center;
}

.txt-input{
    font-family: 'Bangers', cursive;
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin: 0px 0px 0px 0px;
    Background: none;
    border-width: 0px;
    transform: rotate(-4deg);
}

select.select-lifepath {
  width: 50px;
  height: 20px;
  margin: 0px 0px 0px 0px;
  padding: 2px 0px 0px 2px;
  color: black;
  background-color: Gainsboro ;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
  font-size: 12px;
}

.container{
  display: grid;
  grid-template-columns: 150px 460px;
  gap: 5px 5px; 
  grid-template-areas: 
    "box1 box2"
    "box1 box3"
    ". .";
    font-family: 'Kalam', cursive;
}

.idgrid{
  display: grid;
  grid-template-columns: 225px 175px;
  gap: 5px 5px; 
  grid-template-areas: 
    "id1 id3"
    "id2 id3";
}

/*.skillgrid {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    padding: 1px;

}*/

.repcontainer[data-groupname=repeating_skills] .repitem {
  display: inline-block;
  width: calc(50% - 2px);
}

.repcontainer[data-groupname=repeating_skills] .repitem:nth-child(even) {
  margin-left: 0px;
}

.repcontainer[data-groupname=repeating_items] .repitem {
  display: inline-block;
  width: calc(50% - 2px);
}

.repcontainer[data-groupname=repeating_items] .repitem:nth-child(even) {
  margin-left: 0px;
}

.armorgrid2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    padding: 1px;

}

.box{
  padding:5px 5px 5px 5px;
  background:white;
  border: solid black;
  border-color: black;
  box-shadow:  white 2px 1px 0px, black 2px 3px 0px, white 0px -1px 0px, Black -2px -2px 0px;
  background: #7D7D7D;
background: -webkit-linear-gradient(top , White, Gainsboro  );
background: -moz-linear-gradient(top , White, Gainsboro );
background: linear-gradient(top right, white, Gainsboro );
}

.box1{
  grid-area: box1;
  border-width: 3px 4px 3px 5px;
  border-radius:200% 24% 92% 25%/4% 95% 6% 95%;
  transform: rotate(1deg);
  text-align: center;
  height: 650px;
}
.box2{
  grid-area: box2;
  text-align: center;
  height: 405px;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 5% 6% 95%/95% 54% 20% 5%;
  transform: rotate(-1deg);
  font-size:15px;
}

.box3{
  grid-area: box3;
  border-width: 5px 3px 3px 5px;
  border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
  transform: rotate(1deg);
    font-size:14px;
}

.box4{
  transform: rotate(1deg);
}

.idcard{
  margin:0px 0px 0px 0px;
  padding: 2px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background: Gainsboro ;
  height: 125px;
}

.oddboxinner{
  margin:0px 10px;
  transform: rotate(-1deg);
}

.evenboxinner{
  margin:0px 10px;
  transform: rotate(1deg);
}

.id1{
  grid-area: id1;
  font-size:20px;  
}

.id2{
  grid-area: id2;
  font-size:14px;
}

.id3{
  grid-area: id3;
  font-size: 15px;
  margin:10px 0px 0px 10px;
}

.block-a,
.block-switch:checked ~ .block-b {
  display: block;
}

.block-b,
.block-switch:checked ~ .block-a {
  display: none;
}

.block-c,
.block-switch2:checked ~ .block-d {
  display: block;
}

.block-d,
.block-switch2:checked ~ .block-c {
  display: none;
}

.damagegrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 2px 0px 2px 15px;
  text-align: left;
}

.savegrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 1px;
  text-align: center;
  font-size: 15px;
}

.armorgrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 1px;
  text-align: center;
    font-size: 14px;
    margin: 1px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dots{
  display:flex;
}
/* Configure the button styling. This example makes it look like a radio. */
button.dot {
  padding: 0;
  border: solid 1px #a8a8a8;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 0% 50% 0% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.dot > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: red;
}

/* Hide the "checked" section of the radio if the hidden attribute value is greater than the button value */
input.dot[value="0"] ~ button.gt-1 > span.checked {
  display: none;
}  
input.dot[value="1"] ~ button.gt-2 > span.checked {
  display: none;
}
input.dot[value="2"] ~ button.gt-3 > span.checked {
  display: none;
}
input.dot[value="3"] ~ button.gt-4 > span.checked {
  display: none;
}
input.dot[value="4"] ~ button.gt-5 > span.checked {
  display: none;
}
input.dot[value="5"] ~ button.gt-6 > span.checked {
  display: none;
}
input.dot[value="6"] ~ button.gt-7 > span.checked {
  display: none;
}
input.dot[value="7"] ~ button.gt-8 > span.checked {
  display: none;
}
input.dot[value="8"] ~ button.gt-9 > span.checked {
  display: none;
}
input.dot[value="9"] ~ button.gt-10 > span.checked {
  display: none;
}
input.dot[value="10"] ~ button.gt-11 > span.checked {
  display: none;
}
input.dot[value="11"] ~ button.gt-12 > span.checked {
  display: none;
}
input.dot[value="12"] ~ button.gt-13 > span.checked {
  display: none;
}
input.dot[value="13"] ~ button.gt-14 > span.checked {
  display: none;
}
input.dot[value="14"] ~ button.gt-15 > span.checked {
  display: none;
}
input.dot[value="15"] ~ button.gt-16 > span.checked {
  display: none;
}
input.dot[value="16"] ~ button.gt-17 > span.checked {
  display: none;
}
input.dot[value="17"] ~ button.gt-18 > span.checked {
  display: none;
}
input.dot[value="18"] ~ button.gt-19 > span.checked {
  display: none;
}
input.dot[value="19"] ~ button.gt-20 > span.checked {
  display: none;
}
input.dot[value="20"] ~ button.gt-21 > span.checked {
  display: none;
}
input.dot[value="21"] ~ button.gt-22 > span.checked {
  display: none;
}
input.dot[value="22"] ~ button.gt-23 > span.checked {
  display: none;
}
input.dot[value="23"] ~ button.gt-24 > span.checked {
  display: none;
}
input.dot[value="24"] ~ button.gt-25 > span.checked {
  display: none;
}
input.dot[value="25"] ~ button.gt-26 > span.checked {
  display: none;
}
input.dot[value="26"] ~ button.gt-27 > span.checked {
  display: none;
}
input.dot[value="27"] ~ button.gt-28 > span.checked {
  display: none;
}
input.dot[value="28"] ~ button.gt-29 > span.checked {
  display: none;
}
input.dot[value="29"] ~ button.gt-30 > span.checked {
  display: none;
}
input.dot[value="30"] ~ button.gt-31 > span.checked {
  display: none;
}
input.dot[value="31"] ~ button.gt-32 > span.checked {
  display: none;
}
input.dot[value="32"] ~ button.gt-33 > span.checked {
  display: none;
}
input.dot[value="33"] ~ button.gt-34 > span.checked {
  display: none;
}
input.dot[value="34"] ~ button.gt-35 > span.checked {
  display: none;
}
input.dot[value="35"] ~ button.gt-36 > span.checked {
  display: none;
}
input.dot[value="36"] ~ button.gt-37 > span.checked {
  display: none;
}
input.dot[value="37"] ~ button.gt-38 > span.checked {
  display: none;
}
input.dot[value="38"] ~ button.gt-39 > span.checked {
  display: none;
}
input.dot[value="39"] ~ button.gt-40 > span.checked {
  display: none;
}
input.dot[value="40"] ~ button.gt-41 > span.checked {
  display: none;
}

/* ROLL TEMPLATES */

.sheet-rolltemplate-skill div.sheet-template-container {
    font-family: 'Kalam', cursive;
    padding:1px;
    width: 75%;
  border: solid black;
  border-color: black;
  box-shadow:  white 2px 1px 0px, black 2px 3px 0px, white 0px -1px 0px, Black -2px -2px 0px;
background: -webkit-linear-gradient(top , White, Gainsboro );
background: -moz-linear-gradient(top , White, Gainsboro );
background: linear-gradient(top right, white, Gainsboro );
  border-width: 3px 4px 3px 5px;
  border-radius:200% 24% 92% 25%/4% 95% 6% 95%;
  transform: rotate(1deg);
  text-align: center;
}

.sheet-rolltemplate-skill .sheet-template-header {
        margin: 5px;
    font-family: 'Bangers', cursive;
    font-size: 24px;
  border-width: 3px 4px 3px 5px;
  border-radius:200% 24% 92% 25%/4% 95% 6% 95%;
  transform: rotate(1deg);
  text-align: center;
}

.sheet-rolltemplate-skill .sheet-template-row {
}

.sheet-rolltemplate-skill .sheet-template-subhead {
  transform: rotate(-1deg);
    margin: 5px;
  font-size: 20px;
  color: blue;
}

.sheet-rolltemplate-skill div {
  transform: rotate(-1deg);
}

.sheet-rolltemplate-skill .inlinerollresult  {
	display: inline-block;
	text-align: center;
    color: black;
    background-color: none;
    margin: 5px;
    border-width: 2px 1px 2px 3px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    font-size: 32px;
    transform: rotate(-3deg);
}

.sheet-rolltemplate-skill .inlinerollresult.fullcrit {
	border: 2px solid green;
	background-color: green;
}

.sheet-rolltemplate-skill .inlinerollresult.fullfail {
	border: 2px solid red;
	background-color: red;
}

.sheet-rolltemplate-skill .inlinerollresult.importantroll {
	border: 2px solid blue;
	background-color: blue;
}
